body {
  height: 100vh;
  background-color: black;
}

a {
  text-decoration: none !important;
  opacity: 1;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

/* navbar styling */

.margin-right-nav {
  margin-left: 50px;
}

/* app.js styling */

.projects {
  margin-top: 150px;
}

.box {
  width: 200px;
  height: 200px;
  border: 2px solid white;
}

.white-text {
  color: white;
  text-align: center;
  margin-top: 45px;
}

.box:hover{
  opacity: 0.5;
}

.less-margin-text{
  margin-top: 30px;
}


