body {
  height: 100vh;
  background-color: black;
}

a {
  text-decoration: none !important;
  opacity: 1;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

/* navbar styling */

.margin-right-nav {
  margin-left: 50px;
}

/* app.js styling */

.projects {
  padding-top: 150px;
  margin: 0 auto;
  display: block;
}

.box {
  width: 200px;
  height: 200px;
  border: 2px solid white;
  margin: 0 auto;
}

.white-text {
  color: white;
  text-align: center;
  margin-top: 45px;
}

.box:hover{
  opacity: 0.5;
}

.less-margin-text{
  margin-top: 30px;
}

/* contrast page styling */

.circle {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  margin: 0 auto;
}

.circle:hover {
  animation-name: stretch;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(.3);
    background-color: red;
    border-radius: 100%;
  }
  50% {
    background-color: orange;
  }
  100% {
    transform: scale(1.5);
    background-color: yellow;
  }
}

.title {
  text-align: center;
  color: white;
  margin-bottom: 150px;
}
